.zoomie{
    text-align: center; 
  }

.butty{
  background-color: rgba(241, 9, 9, 0.95);
  margin-left: 1rem;
  color: white;
}

.nummy{
  margin-left: 4rem;
}

.tab2{
  margin-left: 16rem;
}

.tab3{
  margin-left: 7rem;
}